/* Variables */
/*kolory bazowe czcionki itp.*/
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Josefin Sans", sans-serif;
  min-width: 400px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  border: 2px solid rgb(250, 2, 2);
}

section {
  padding: 96px 0;
}

/* Website Logo */
.logo {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0 250px 0 100px;
  font-size: 24px;
  transition: 1s all;
}
.logo a {
  color: rgb(255, 196, 0);
}
.logo:hover {
  scale: 1.1;
}

/* Navigation */
.navigation {
  padding: 12px 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
}
ul a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
ul a:hover {
  color: rgb(255, 196, 0);
}

/* Navigation second level */
.navigation ul ul li {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 12px 24px;
  color: #fff;
  background-color: #3d3d3d;
}

ul ul {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.navigation li:hover ul {
  display: block;
}

/*Header*/
.main {
  position: relative;
  background-image: url("/images/background.png");
  background-position: center;
  background-size: cover;
}

header {
  padding: 100px 0 20px;
}
header h1 {
  flex: 100%;
  font-size: 50px;
  color: #fff;
  margin: auto;
}
header h2 {
  flex: 100%;
  font-size: 40px;
  color: #fff;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
}

/*Button*/
.btn {
  margin-bottom: 100px;
}

button {
  cursor: pointer;
  background: rgb(255, 196, 0);
  padding: 15px 20px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  transition: 1s all;
}

button:hover {
  scale: 1.1;
}

/*Section Services and Our Portfolio*/
.our-work {
  background: rgb(185, 182, 182);
  border: 2px solid black;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.row h3 {
  flex: 100%;
  font-size: 30px;
  margin: 0;
  padding-top: 80px;
  font-weight: 700;
}
.row p {
  flex: 100%;
  margin: 0;
  font-style: italic;
  margin-bottom: 40px;
}
.row .box {
  flex: 1;
  border: 1px solid blue;
}
.row .box .icon {
  border: 1px solid red;
  padding-top: 20px;
  margin: 10px 0;
}
.row .box h4 {
  margin: 0;
}
.row .box i {
  font-size: 50px;
  color: rgb(255, 196, 0);
  line-height: 12px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBSUEsOEJBQUE7QUFHQSxXQUFBO0FBQ0E7RUFDSSxzQkFBQTtBQ0pKOztBRE1BO0VBQ0ksU0FBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBWlE7RUFhUixjQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0VBQ0EsdUNBQUE7RUFDQSxnQkFBQTtBQ0hKOztBREtBO0VBQ0ksaUJBQUE7RUFDQSxjQUFBO0VBQ0EsZUFBQTtFQUNBLGdDQUFBO0FDRko7O0FES0E7RUFDSSxlQUFBO0FDRko7O0FESUEsaUJBQUE7QUFDQTtFQUNJLDRDQUFBO0VBQ0Esa0JBQUE7RUFDQSx1QkFBQTtFQUNBLGVBQUE7RUFDQSxrQkFBQTtBQ0RKO0FERUk7RUFDSSx1QkFwQ007QUNvQ2Q7QURFSTtFQUNJLFVBQUE7QUNBUjs7QURJQSxlQUFBO0FBRUE7RUFDSSxlQUFBO0FDRko7O0FER0k7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLGdCQUFBO0FDQUo7QURDSTtFQUNJLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZUFBQTtBQ0NSO0FEQ0k7RUFDSSxxQkFBQTtFQUNBLFdBN0RJO0VBOERKLGVBQUE7QUNDUjtBREFRO0VBQ0ksdUJBL0RFO0FDaUVkOztBREdBLDRCQUFBO0FBQ0E7RUFDSSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQTNFUTtFQTRFUix5QkE3RVE7QUM2RVo7O0FEQ0k7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSxTQUFBO0VBQ0EsMkJBQUE7RUFDQSxXQWxGUTtBQ29GWjs7QURBQTtFQUNJLGNBQUE7QUNHSjs7QURBQSxTQUFBO0FBQ0E7RUFDSSxrQkFBQTtFQUNBLCtDQUFBO0VBQ0EsMkJBQUE7RUFDQSxzQkFBQTtBQ0dKOztBRERBO0VBQ0kscUJBQUE7QUNJSjtBREhJO0VBQ0ksVUFBQTtFQUNBLGVBQUE7RUFDQSxXQXBHSTtFQXFHSixZQUFBO0FDS1I7QURISTtFQUNJLFVBQUE7RUFDQSxlQUFBO0VBQ0EsV0ExR0k7RUEyR0osa0JBQUE7RUFDQSw0Q0FBQTtFQUNBLFlBQUE7QUNLUjs7QURBQSxTQUFBO0FBQ0k7RUFDSSxvQkFBQTtBQ0dSOztBREFJO0VBQ0ksZUFBQTtFQUNBLDRCQUFBO0VBQ0Esa0JBQUE7RUFDQSxZQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQTdISTtFQThISixnQkFBQTtFQUNBLGtCQUFBO0FDR1I7O0FEREk7RUFDSSxVQUFBO0FDSVI7O0FEQUEscUNBQUE7QUFDQTtFQUNJLDhCQUFBO0VBQ0EsdUJBQUE7QUNHSjs7QUREQTtFQUNJLGFBQUE7RUFDQSxlQUFBO0VBQ0EsdUJBQUE7QUNJSjtBREhJO0VBQ0ksVUFBQTtFQUNBLGVBQUE7RUFDQSxTQUFBO0VBQ0EsaUJBQUE7RUFDQSxnQkFBQTtBQ0tSO0FESEk7RUFDSSxVQUFBO0VBQ0EsU0FBQTtFQUNBLGtCQUFBO0VBQ0EsbUJBQUE7QUNLUjtBREhJO0VBQ0ksT0FBQTtFQUNBLHNCQUFBO0FDS1I7QURKUTtFQUNJLHFCQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBO0FDTVo7QURKUTtFQUNJLFNBQUE7QUNNWjtBREpRO0VBQ0ksZUFBQTtFQUNBLHVCQXhLRTtFQXlLRixpQkFBQTtBQ01aIiwiZmlsZSI6InN0eWxlLmNzcyJ9 */