/* Variables */
/*kolory bazowe czcionki itp.*/
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background: black;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Josefin Sans", sans-serif;
  min-width: 400px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  background: #fff;
}

section {
  padding: 96px 0;
}

/* Website Logo */
.logo {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin: 0 250px 0 100px;
  font-size: 24px;
  transition: 1s all;
}
.logo a {
  color: rgb(255, 196, 0);
}
.logo:hover {
  scale: 1.1;
}

/* Navigation */
.navigation {
  padding: 12px 0 140px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  display: inline-block;
  margin-right: 36px;
  position: relative;
  font-weight: 700;
  font-size: 14px;
}
ul a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
ul a:hover {
  color: rgb(255, 196, 0);
}

/* Navigation second level */
.navigation ul ul li {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 12px 24px;
  color: #fff;
  background-color: #ada6a6;
}

ul ul {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.navigation li:hover ul {
  display: block;
}

/*Header*/
.main {
  position: relative;
  background-image: url("/images/background.png");
  background-position: center;
  background-size: cover;
}

header {
  padding: 100px 0 20px;
}
header h1 {
  flex: 100%;
  font-size: 50px;
  color: #fff;
  margin: auto;
}
header h2 {
  flex: 100%;
  font-size: 40px;
  color: #fff;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: auto;
}

/*Button*/
.btn {
  padding-bottom: 80px;
  padding-top: 20px;
}

button {
  cursor: pointer;
  background: rgb(255, 196, 0);
  padding: 15px 20px;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-weight: 600;
  transition: 1s all;
}

button:hover {
  scale: 1.1;
}

/*Section Services and Our Portfolio*/
.our-work {
  background: rgb(199, 199, 199);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 40px;
}
.row h3 {
  flex: 100%;
  font-size: 30px;
  margin: 0;
  padding-top: 80px;
  font-weight: 700;
}
.row p {
  flex: 100%;
  margin: 0;
  font-style: italic;
  margin-bottom: 40px;
}
.row .box {
  margin: 10px 20px;
  flex: 1;
}
.row .box .icon {
  padding-top: 20px;
  margin: 10px 0;
}
.row .box h4 {
  margin: 0;
}
.row .box i {
  background: rgb(255, 196, 0);
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: #fff;
  line-height: 60px;
  border-radius: 50%;
  transition: 1s all;
}
.row .box i:hover {
  scale: 1.2;
}

/*Images our portfolio section*/
.images img {
  max-height: 300px;
}

img {
  transition: 1s all;
}

.scale {
  cursor: pointer;
  background: #fff;
}

.scale:hover img {
  scale: 1.05;
}

/* Footer */
footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
}
footer .row li {
  margin: 0;
  padding: 5px 5px;
}
footer .row li i {
  cursor: pointer;
  font-size: 20px;
  background: rgb(0, 0, 0);
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: 1s all;
}
footer .row li i:hover {
  scale: 1.2;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxjQUFBO0FBS0EsOEJBQUE7QUFHQSxXQUFBO0FBQ0E7RUFDSSxzQkFBQTtBQ0xKOztBRE9BO0VBQ0ksU0FBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSxjQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQUFBO0VBQ0EsdUNBQUE7RUFDQSxnQkFBQTtBQ0pKOztBRE1BO0VBQ0ksaUJBQUE7RUFDQSxjQUFBO0VBQ0EsZUFBQTtFQUNBLGdCQXhCUTtBQ3FCWjs7QURNQTtFQUNJLGVBQUE7QUNISjs7QURLQSxpQkFBQTtBQUNBO0VBQ0ksNENBQUE7RUFDQSxrQkFBQTtFQUNBLHVCQUFBO0VBQ0EsZUFBQTtFQUNBLGtCQUFBO0FDRko7QURHSTtFQUNJLHVCQXJDTTtBQ29DZDtBREdJO0VBQ0ksVUFBQTtBQ0RSOztBREtBLGVBQUE7QUFFQTtFQUNJLHFCQUFBO0FDSEo7O0FESUk7RUFDQSxVQUFBO0VBQ0EsU0FBQTtFQUNBLGdCQUFBO0FDREo7QURFSTtFQUNJLHFCQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtFQUNBLGdCQUFBO0VBQ0EsZUFBQTtBQ0FSO0FERUk7RUFDSSxxQkFBQTtFQUNBLFdBOURJO0VBK0RKLGVBQUE7QUNBUjtBRENRO0VBQ0ksdUJBaEVFO0FDaUVkOztBRElBLDRCQUFBO0FBQ0E7RUFDSSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQTVFUTtFQTZFUix5QkE5RVE7QUM2RVo7O0FERUk7RUFDQSxhQUFBO0VBQ0Esa0JBQUE7RUFDQSxTQUFBO0VBQ0EsMkJBQUE7RUFDQSxXQW5GUTtBQ29GWjs7QURDQTtFQUNJLGNBQUE7QUNFSjs7QURDQSxTQUFBO0FBQ0E7RUFDSSxrQkFBQTtFQUNBLCtDQUFBO0VBQ0EsMkJBQUE7RUFDQSxzQkFBQTtBQ0VKOztBREFBO0VBQ0kscUJBQUE7QUNHSjtBREZJO0VBQ0ksVUFBQTtFQUNBLGVBQUE7RUFDQSxXQXJHSTtFQXNHSixZQUFBO0FDSVI7QURGSTtFQUNJLFVBQUE7RUFDQSxlQUFBO0VBQ0EsV0EzR0k7RUE0R0osa0JBQUE7RUFDQSw0Q0FBQTtFQUNBLFlBQUE7QUNJUjs7QURDQSxTQUFBO0FBQ0k7RUFDSSxvQkFBQTtFQUNBLGlCQUFBO0FDRVI7O0FEQUk7RUFDSSxlQUFBO0VBQ0EsNEJBekhNO0VBMEhOLGtCQUFBO0VBQ0EsWUFBQTtFQUNBLGtCQUFBO0VBQ0EsV0E5SEk7RUErSEosZ0JBQUE7RUFDQSxrQkFBQTtBQ0dSOztBRERJO0VBQ0ksVUFBQTtBQ0lSOztBREFBLHFDQUFBO0FBQ0E7RUFDSSw4QkF2SVM7QUMwSWI7O0FEREE7RUFDSSxhQUFBO0VBQ0EsZUFBQTtFQUNBLHVCQUFBO0VBQ0EsZUFBQTtBQ0lKO0FESEk7RUFDSSxVQUFBO0VBQ0EsZUFBQTtFQUNBLFNBQUE7RUFDQSxpQkFBQTtFQUNBLGdCQUFBO0FDS1I7QURISTtFQUNJLFVBQUE7RUFDQSxTQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTtBQ0tSO0FESEk7RUFDSSxpQkFBQTtFQUNBLE9BQUE7QUNLUjtBREpRO0VBQ0ksaUJBQUE7RUFDQSxjQUFBO0FDTVo7QURKUTtFQUNJLFNBQUE7QUNNWjtBREpRO0VBQ0ksNEJBdktFO0VBd0tGLFdBQUE7RUFDQSxZQUFBO0VBQ0EsZUFBQTtFQUNBLFdBNUtBO0VBNktBLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxrQkFBQTtBQ01aO0FETFk7RUFDSSxVQUFBO0FDT2hCOztBRERBLCtCQUFBO0FBR0k7RUFDSSxpQkFBQTtBQ0VSOztBRENBO0VBQ0ksa0JBQUE7QUNFSjs7QURBQTtFQUNJLGVBQUE7RUFDQSxnQkFuTVE7QUNzTVo7O0FEREE7RUFDSSxXQUFBO0FDSUo7O0FEREEsV0FBQTtBQUVBO0VBQ0ksaUJBQUE7RUFDQSxjQUFBO0VBQ0EsYUFBQTtFQUNBLGdCQS9NUTtBQ2tOWjtBRERRO0VBQ0ksU0FBQTtFQUNBLGdCQUFBO0FDR1o7QUREUTtFQUNHLGVBQUE7RUFDQSxlQUFBO0VBQ0Esd0JBQUE7RUFDQSxZQUFBO0VBQ0EsV0FBQTtFQUNBLGlCQUFBO0VBQ0Esa0JBQUE7RUFDQSxXQTdOQztFQThORCxrQkFBQTtBQ0dYO0FERlc7RUFDQyxVQUFBO0FDSVoiLCJmaWxlIjoic3R5bGUuY3NzIn0= */