/* Variables */
$color-one: #ada6a6;
$color-two: #fff;
$color-three: rgb(255, 196, 0);
$color-four: rgb(199, 199, 199);
/*kolory bazowe czcionki itp.*/


/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    background: black;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Josefin Sans", sans-serif;
    min-width: 400px;
  }
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    background: $color-two;
}

section {
    padding: 96px 0;
}
/* Website Logo */
.logo {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 250px 0 100px;
    font-size: 24px;
    transition: 1s all;
    a {
        color: $color-three;
    }
    &:hover {
        scale:(1.1);
    }
}

/* Navigation */

.navigation {
    padding: 12px 0 140px;
}   ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;
        font-weight: 700;
        font-size: 14px;
    }
    a {
        text-decoration: none;
        color: $color-two;
        cursor: pointer;
        &:hover {
            color: $color-three;
        }
    }

}
/* Navigation second level */
.navigation ul ul li {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 12px 24px;
    color: $color-two;
    background-color: $color-one;
}   ul ul {
    display: none; // hiding second lvl navigation
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $color-two;
}
.navigation li:hover ul {
    display: block;
}

/*Header*/
.main {
    position: relative;
    background-image: url("/images/background.png");
    background-position: center;
    background-size: cover;
}
header {
    padding: 100px 0 20px;
    h1 {
        flex: 100%;
        font-size: 50px;
        color: $color-two;
        margin: auto;
    }
    h2 {
        flex: 100%;
        font-size: 40px;
        color: $color-two;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        margin: auto;
    }
}


/*Button*/
    .btn {
        padding-bottom: 80px;
        padding-top: 20px;
    }
    button {
        cursor: pointer;
        background: $color-three;
        padding: 15px 20px;
        border: none;
        border-radius: 2px;
        color: $color-two;
        font-weight: 600;
        transition: 1s all;
    }
    button:hover {
        scale:(1.1);
    }


/*Section Services and Our Portfolio*/
.our-work {
    background: $color-four;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;
    h3 {
        flex: 100%; 
        font-size: 30px;
        margin: 0;
        padding-top: 80px;
        font-weight: 700;
    }
    p {
        flex: 100%;
        margin: 0;
        font-style: italic;
        margin-bottom: 40px;
    }
    .box {
        margin:10px 20px;
        flex: 1;
        .icon {
            padding-top: 20px;
            margin: 10px 0;
        }
        h4 {
            margin: 0;
        }
        i {
            background: $color-three;
            width: 60px;
            height: 60px;
            font-size: 30px;
            color: $color-two;
            line-height: 60px;
            border-radius: 50%;
            transition: 1s all;
            &:hover {
                scale: (1.2);
            }
        }
        
    }
}
/*Images our portfolio section*/

.images {
    img {
        max-height: 300px;
    }
}
img {
    transition: 1s all;
}
.scale {
    cursor: pointer;
    background: $color-two;
}
.scale:hover img {
    scale: (1.05);
}

/* Footer */

footer {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px;
    background: $color-two;
    .row {
        li {
            margin: 0;
            padding: 5px 5px;
        }
        li i {
           cursor: pointer;
           font-size: 20px;
           background: rgb(0, 0, 0); 
           height: 40px;
           width: 40px;
           line-height: 40px;
           border-radius: 50%;
           color: $color-two;
           transition: 1s all;
           &:hover {
            scale: (1.2);
           }
        }
    }
}

