/* Variables */
$color-one: #3d3d3d;
$color-two: #fff;
$color-three: rgb(255, 196, 0);
/*kolory bazowe czcionki itp.*/


/* Global */
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
    background: $color-two;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Josefin Sans", sans-serif;
    min-width: 400px;
  }
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    border: 2px solid rgb(250, 2, 2);
}

section {
    padding: 96px 0;
}
/* Website Logo */
.logo {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 250px 0 100px;
    font-size: 24px;
    transition: 1s all;
    a {
        color: $color-three;
    }
    &:hover {
        scale:(1.1);
    }
}

/* Navigation */

.navigation {
    padding: 12px 0;
}   ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        display: inline-block;
        margin-right: 36px;
        position: relative;
        font-weight: 700;
        font-size: 14px;
    }
    a {
        text-decoration: none;
        color: $color-two;
        cursor: pointer;
        &:hover {
            color: $color-three;
        }
    }

}
/* Navigation second level */
.navigation ul ul li {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 12px 24px;
    color: $color-two;
    background-color: $color-one;
}   ul ul {
    display: none; // hiding second lvl navigation
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: $color-two;
}
.navigation li:hover ul {
    display: block;
}

/*Header*/
.main {
    position: relative;
    background-image: url("/images/background.png");
    background-position: center;
    background-size: cover;
}
header {
    padding: 100px 0 20px;
    h1 {
        flex: 100%;
        font-size: 50px;
        color: $color-two;
        margin: auto;
    }
    h2 {
        flex: 100%;
        font-size: 40px;
        color: $color-two;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        margin: auto;
    }
}


/*Button*/
    .btn {
        margin-bottom: 100px;

    }
    button {
        cursor: pointer;
        background: rgb(255, 196, 0);
        padding: 15px 20px;
        border: none;
        border-radius: 2px;
        color: $color-two;
        font-weight: 600;
        transition: 1s all;
    }
    button:hover {
        scale:(1.1);
    }


/*Section Services and Our Portfolio*/
.our-work {
    background: rgb(185, 182, 182);
    border: 2px solid black;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    h3 {
        flex: 100%; 
        font-size: 30px;
        margin: 0;
        padding-top: 80px;
        font-weight: 700;
    }
    p {
        flex: 100%;
        margin: 0;
        font-style: italic;
        margin-bottom: 40px;
    }
    .box {
        flex: 1;
        border: 1px solid blue;
        .icon {
            padding-top: 20px;
            margin: 10px 0;
        }
        h4 {
            margin: 0;
        }
        i {
            background: $color-three;
            width: 60px;
            height: 60px;
            font-size: 30px;
            color: $color-two;
            line-height: 60px;
            border-radius: 50%;
        }

    }
}